@module: contract;

.@{module} {
  // padding: 0 24px;

  // &__card {
  //   max-width: 310px;
  // }

  // &__link {
  //   .flex(center);
  // }
}

.addButton {
  margin: 8px 5px 12px 5px;
  width: 80%;
}

.selectedContract {
  border-left: 2px solid @primary-color;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 25px 3px;
}
